/* 
background: #FFFFFF;
background: #F5F4FA; наша команда
background: #2F303A; фуутер
background: #2196F3; синий
##212121 -заголовки
#757575-серый весь текст
#000000-лого студио
*/


body{
 font-family:'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,ul,p{
    margin: 0px;
    padding: 0px;
}
:root{
--accent-color: #2196F3;
--secondary-header:#212121;
}

.list{
list-style: none;
padding: 0px;
margin: 0px;
}
.link{
text-decoration: none;
}
.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/*------------------------ HEADER------------------- */
.container-header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
    
   
}

.logo{
    padding: 24px 0 25px;

    font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-color);
        text-decoration: none;
        
}
.logo-scndr{
    color: #000000;
}
.header-list{
    display: flex;
    margin-left: 93px;
    
}
.header-list .header-item:not(:last-child){
    margin-right: 50px;
}
.header-list .link{
        padding: 32px 0px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--secondary-header);
        
}
.header-list .link:hover,
.header-list .link:focus{
    color:var(--accent-color);
    
 }
 .header-contact{
     display: flex;
     margin-left: auto;
 }
 .header-contact .header-item:not(:last-child){
     margin-right: 50px;
 }
 .header-contact .link{
    padding: 32px 0px;

    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
 }
.header-contact .link:hover,
.header-contact .link:focus {
    color: var(--accent-color);
}       

/*------------------------ HERO------------------- */
.hero{
    background-color: #2F303A;
    text-align: center;
   
}
.hero-title{
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
         color: #FFFFFF;
}
.hero-btn{
    font-family: 'Roboto',sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        border-radius: 4px;
        color: #FFFFFF;
        background-color: var(--accent-color);
}

/*------------------------ List of criteria------------------- */
.criteria-list{
    display: flex;
    padding:94px 0;
}
.criteria-item:not(:last-child){
    margin-right: 30px;
}
.criteria-header{
    margin-bottom: 10px;

    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--secondary-header);
}
.criteria-paragraf{
    font-weight: 400;   
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/*------------------------ what are we doing------------------- */
.work{
    padding-bottom: 94px;
}
.work-title{
    margin-bottom: 50px;
    

    font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--secondary-header);
}

.work-list{
    display: flex;
    justify-content: center;  
}
.work-item:not(:last-child){
    margin-right: 30px;
}

/*------------------------ Our team------------------- */
.team{
    background-color: #F5F4FA;
}
.team-header{
padding: 94px 0 50px;

    font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--secondary-header);
}

.team-list{
    display: flex;
    justify-content: center;
}
.team-item:not(:last-child){
    margin-right: 30px;

}
.team-item{
    padding-bottom: 94px;
}
.team-list-member{
        margin-top: 30px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: center;

        color: var(--secondary-header);

}
.team-list-proffesion{
        margin-top: 10px;

        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--secondary-header);        
}

/*------------------------FOOTER------------------- */
.footer{
    background-color:#2F303A;
    padding-top: 60px;
}
.logo-footer{
        

        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-color);
        text-decoration: none;
}
.logo-footer-scndr{
    color: #FFFFFF;
}
.footer-adress{
    font-style: normal;
}
.adress{

        
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.footer-list{
    margin-top: 20px;
    padding-bottom: 60px;
}
.footer-item{
    margin-top: 9px;
}
.footer-contact{

        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}



/*------------------------PORTFOLIO------------------- */

.products-btn{
        margin-bottom: 50px;
        padding: 6px 22px;
        margin-left: 8px;
        border: none;
    
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        border-radius: 4px;
        color:var(--secondary-header);
        background-color: #F5F4FA;
}

.products-btn:hover,
.products-btn:focus{
    color:#FFFFFF;
    background-color: var(--accent-color);
}
.products-list{
    display: flex;
    justify-content: center;
    padding-top: 94px;
}

.products-title {
font-weight: 700;
font-size: 18px;
line-height:2;
letter-spacing: 0.06em;
color:var(--secondary-header);
}

.product-position{
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: #757575;

}
.flex-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 94px;
}
.flex-item{
    margin-bottom: 30px;
    margin-right: 30px;
    width:calc(100%-60px)/3;
}

.flex-item:nth-child(3n){
    margin-right: 0px;
}
.flex-item:nth-last-child(-n+3){
    margin-bottom: 0px;
}